html, body {
    font-family: serif;
}
body {
    margin: 20px;
}

*{
text-align: center;
color: rgb(237, 169, 10);
}
.box{
    padding: 20px;
    height: 400px;
    width: 250px;
    border: 3px rgb(107, 147, 149) solid;
    border-radius: 3%;

}
body .сity{
    display: block;
    height: 50px;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 3%;
    text-align: center;
}
    
body .temperature{
    margin: 10px;
    display: block;
    height: 40px;
    border: 1px rgb(35, 27, 19) solid;
    border-radius: 3%;
    font-size:35px ;
}
body .weather{ 
    margin: 5px;
    display: block;
    height: 30px;
    border: 1px rgb(38, 131, 74) solid;
    border-radius: 3%;
    font-size:20px;
}
body .wind_speed{
    display: block;
    height: 30px;
    border: 1px rgb(122, 38, 131) solid;
    border-radius: 3%;
    font-size:20px;
}
body .img{
    display: block;
    height: 150px;
    border: 1px rgb(35, 45, 179) solid;
    border-radius: 3%;
}
#city{
    margin-top: 15px;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 0 4px rgba(155, 34, 34, 0.2);
    border-radius: 10px;
    padding: 14px 15px;
    font-size: 14px;
    line-height: 18px;
    color: rgba(116, 137, 238, 0.8);
    cursor: pointer;
}